<div class="p-6 flex flex-col gap-6 bg-gray-900 rounded-lg h-full">
  <section>
    <h3 class="text-2xl font-bold text-white mb-4">Filtros</h3>
    <div class="mb-6">
      <h4 class="text-xl font-semibold text-white">Status</h4>
      <div class="flex gap-4 mt-2">
        <button class="flex items-center gap-1 focus:outline-none">
          <span class="material-symbols-outlined text-green-800">circle</span>
          <span class="text-white">Iniciados</span>
        </button>
        <button class="flex items-center gap-1 focus:outline-none">
          <span class="material-symbols-outlined text-orange-600">circle</span>
          <span class="text-white">Pendientes</span>
        </button>
        <button class="flex items-center gap-1 focus:outline-none">
          <span class="material-symbols-outlined text-green-400">circle</span>
          <span class="text-white">Completados</span>
        </button>
      </div>
    </div>
    <div class="mb-6">
      <h4 class="text-xl font-semibold text-white">Fecha</h4>
      <p class="text-sm text-white">Selecciona el rango de fechas</p>
      <div class="flex items-center gap-2 mt-2">
        <mat-date-range-input class="bg-white rounded-lg w-full p-2" [rangePicker]="picker">
          <input class="w-full" matStartDate placeholder="Fecha inicio">
          <input class="w-full" matEndDate placeholder="Fecha fin">
        </mat-date-range-input>
        <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker  #picker></mat-date-range-picker>
      </div>
    </div>
    <div>
      <h4 class="text-xl font-semibold text-white">Precio máximo</h4>
      <div class="flex flex-col items-center mt-2">
        <span class="text-white mb-2">Selecciona un precio máximo: {{ maxPrice }}</span>
        <input
          type="range"
          min="0"
          max="100"
          [(ngModel)]="maxPrice"
          class="w-full"
        />
      </div>
    </div>
  </section>
  <section>
    <h3 class="text-2xl font-bold text-white mb-4">Ordenar por</h3>
    <div class="space-y-4">
      <div class="flex justify-between items-center">
        <span class="text-xl font-semibold text-white">Fecha</span>
        <span class="material-icons text-white">arrow_upward</span>
      </div>
      <div class="flex justify-between items-center">
        <span class="text-xl font-semibold text-white">Precio</span>
        <span class="material-icons text-white">arrow_upward</span>
      </div>
    </div>
  </section>
</div>
