<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 p-4 text-white text-xs">
    <div class="bg-slate-800 text-center rounded-lg p-3">
      <span class="text-3xl font-bold">{{totalByCategory}}</span>
      <h3>TOTAL DE PRODUCTOS</h3>
    </div>
    <div class="bg-slate-800 text-center rounded-lg p-3">
      <span class="text-3xl font-bold">{{initialStateProducts}}</span>
      <div class="flex justify-center gap-1">
        <span class="text-green-700 material-symbols-outlined">circle</span>
        <h3>INICIADOS</h3>
      </div>
    </div>
    <div class="bg-slate-800 text-center rounded-lg p-3">
      <span class="text-3xl font-bold">{{pendingStateProducts}}</span>
      <div class="flex justify-center gap-1">
        <span class="text-orange-600 material-symbols-outlined">circle</span>
        <h3>PENDIENTES</h3>
      </div>
    </div>
    <div class="bg-slate-800 text-center rounded-lg p-3">
      <span class="text-3xl font-bold">{{completeStateProducts}}</span>
      <div class="flex justify-center gap-1">
        <span class="text-green-500 material-symbols-outlined">circle</span>
        <h3>COMPLETADOS</h3>
      </div>
    </div>
  </div>
  