<div *ngIf="products.length > 0" class="bg-slate-800 shadow rounded p-4 text-white">
    <h3 class="text-xl font-semibold mb-4">Recent Products</h3>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      <ng-container *ngFor="let product of products">
        <app-recent-products-card [producto]="product"></app-recent-products-card>
      </ng-container>
    </div>
</div>
  
<div *ngIf="products.length === 0" class="bg-slate-800 shadow rounded p-4 flex justify-center items-center text-white h-full">
    <h3 class="text-xl font-semibold mb-4 text-center">No existen productos del día</h3>
</div>
