
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-mdc-menu-content{
    padding: 0 !important;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1;
  font-size: 12px;
}
*{
  scrollbar-color: #444746 transparent;
  scrollbar-width: 5px;
  scrollbar-width: thin;
}