<div *ngIf="product; else dataContent" class="flex rounded-lg w-full gap-3">
    <div class="w-full h-full bg-white rounded-lg overflow-hidden flex">
        <div class="w-1/2 flex items-center justify-center bg-gray-100 py-8">
            <img src="https://picsum.photos/seed/random/400/400" alt="Imagen del producto" class="object-contain max-w-full max-h-full">
          </div>
        <div class="w-1/2 p-6 flex flex-col justify-between">
          <h3 class="text-3xl font-bold text-gray-800">{{ product.name }}</h3>
          <p class="mt-2 text-xl text-gray-600">
            Estado: <span class="font-semibold text-green-500">{{ product.state }}</span>
          </p>
          <p class="mt-1 text-xl text-gray-500">
            Fecha: {{ product.creationDate | date:'dd/MM/yyyy' }}
          </p>
          <p class="mt-4 text-gray-700">Categoría: {{ product.category }}</p>
          <p class="mt-2 text-gray-700">Precio: {{ product.price }}</p>
          <p class="mt-4">Descripción</p>
          <p class="text-gray-600">{{ product.description }}</p>
          <div class="mt-6 flex justify-center space-x-4">
            <button (click)="openDialog(true)" class="flex items-center text-blue-500 hover:text-blue-700">
              <span class="material-icons mr-1">edit</span>
              Editar
            </button>
            <button class="flex items-center text-red-500 hover:text-red-700">
              <span class="material-icons mr-1">delete</span>
              Eliminar
            </button>
          </div>
        </div>
      </div>
      <button (click)="openDialog(false)" class="text-white  absolute bottom-5 right-5">
        <span class="text-7xl material-icons">add_circle</span>
      </button>
</div>

<ng-template #dataContent>
    <div>
        <p>El elemento no existe</p>
    </div>
</ng-template>